h1 {
  margin: 0;
}

.App {
  background-color: #26272E;
  color: white;
  padding: 0 10%;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.plant-diagram {
  width: 100%;
  height: auto;
}
